

h1{
   text-align: center;
}
.coin-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
body{
    text-align: center;
    background: linear-gradient(to bottom left, orange, white);
    
}
.statusmessage{
    color: orange
}
main{
    background-color: white;
    margin:20px;


}
.container{
    background-color: white;
    text-align: center;
    border:2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right:20px;
    margin:auto
}
table, th, td, tr
{
    text-align: center;
    border: 2px solid orange;
    margin: auto;
}

button{
    font-size: 1.2em;
    border-radius: 10px;
}
.flipped{
    background:linear-gradient(to bottom left, white, lightblue);
}
.reset{
    background:linear-gradient(to bottom right, white, orange) 
}
.flipped:hover, .reset:hover{
    filter:brightness(85%)
}
img{
    width: 300px;
    height: 300px;
}